<!DOCTYPE html>

<html lang="en">


{% extends 'experiment/base.html' %}


{% block content %}
<section>
    <h1>Outline of the session</h1>
    <p class='paragraph'>This experiment session consists of&nbsp;several tasks listed below. It&nbsp;is&nbsp;essential that you complete each of&nbsp;them. Once you finish one task, you will be&nbsp;automatically guided to&nbsp;the next one. The approximate duration of&nbsp;each task is&nbsp;mentioned in&nbsp;parentheses. The main task takes the longest. We&nbsp;recommend that during this task you take a&nbsp;short break.</p>
    <ul class='list'>
    	<li>Background questionnaire (~ 5 min.)</li>
    	<li>Main task (~ 40 min. plus breaks)</li>
    	<li>Feedback questionnaire (~ 5 min.)</li>
    </ul><br>
    <p class='paragraph'>We kindly remind you to plug in your headphones.</p>
    <a href='{% url 'questionnaire' %}'>Proceed</a>
</section>
{% endblock %}